.header {
  height: 30rem;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.9)),
    url(./Assets/cover.jpg) center 20%;
  background-size: cover;
}

.footer {
  height: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.92));
}
